<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdeaValidator AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>🚀 IdeaValidator AI</h1>

        <p class="subtitle">
            Transform Your Startup Idea into a Business Strategy
        </p>

        <form action="/analyze" method="POST">

            <textarea
                name="startup_idea"
                placeholder="Example: An AI platform that helps students prepare for placements..."
                required>
            </textarea>

            <br>

            <button type="submit">
                Analyze Startup Idea
            </button>

        </form>

        <footer>
            Powered by AI • Built with Flask & Python
        </footer>

    </div>

</body>
</html>